footer
{
    position: relative;
    top: 400px;
    bottom: 20px;
    text-align: center;
    left: 75px;
    margin-bottom: 20px;
    color: aliceblue;
}

#footer2
{
    position: relative;
    top: 75px;
    bottom: 20px;
    text-align: center;
    left: 75px;
    margin-bottom: 20px;
    color: aliceblue;
}

.socialLink
{
    color: aliceblue;
}