.myC
{
    color: white;
}

#imgPen
{
    position: relative;
    left: 215px;
    top: 10px;
    padding-bottom: 10px;
}

#myResume
{
    position: relative;
    top: 20px;
    left: 230px;
    color: aliceblue;
}

#resPic
{
    position: relative;
    top: 75px;
    left: 200px;
}

#dndImg
{
    position: relative;
    left: 140px;
    padding-bottom: 10px;
}